/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li, button, label, input, p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

/* Button */

button {
    padding: 2rem 6rem;
    background-color: #2881ee72;
    background-origin: border-box;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    backdrop-filter: blur(3px);
}

button:hover {
    background-color: #2881eee9;
    transform: scale(1.05);
}

/* Nav Section w/ Hero */

.main-head {
    z-index: 10;
    background-color: #2881eebd;
    color: white;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(4px);
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    cursor: pointer;
}

nav img {
    height: 40px;
    width: auto;
    margin-left: 10px;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav li {
    transition-duration: 0.5s;
}

nav li:hover {
    transform: scale(1.1);
}

body {
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}


.hero {
    color: white;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    transform-style: preserve-3d;
}

.hero::before {
    content:"";
    width: 110vw;
    height: 110vh;
    top:0;
    left:0;
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 96, 213, 0.666), transparent), url(./images/PlaneWindowImage.jpg);
    transform:translateZ(-1px) scale(2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero h2 {
    font-size: 10rem;
    margin: 0;
}

.hero h3 {
    font-size: 3rem;
    padding-bottom: 4rem;
}
/* Benefits Section */

#locations {
    z-index: 2;
    min-height: 100vh;
    background: url("./images/SkyImage.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90vw;
    margin: auto;
    color: white;
}

.locations-head h2 {
    z-index: 4;
    position: relative;
    padding: 1rem 0;
}

.locations-head h3 {
    z-index: 4;
    position: relative;
    padding: 4rem 0;
}

.cloud {
    z-index: 3;
    position: absolute;
    bottom: -300px;
    right: -650px;
    height: 900px;
    opacity: 0.6;
    animation: cloudAnimation 30s infinite alternate ease-in-out;
}

.plane {
    z-index: 2;
    position: absolute;
    height: 100px;
    right: 0;
    filter: blur(0.2px);
    animation: planeAnimation 5s infinite ease-in-out;
}

.plane-trails {
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 1000px;
    top: 120px;
    right: 12px;
    transform: rotate(15deg);;
    filter: blur(1px);
    opacity: 0;
    animation: planeTrailsAnimation 5s infinite ease-in-out;
}

@keyframes cloudAnimation {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(30%);
    }
}

@keyframes planeAnimation {
    0% {
        transform: translate(100%, 100%);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-1000%, -800%);
    }
}

@keyframes planeTrailsAnimation {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    70% {
        opacity: 0.1;
        filter: blur(1px);
    }
    100% {
        opacity: 0;
    }
}

/* Benefits Section */

.benefits-head {
    z-index: 2;
    position: relative;
    background: #327EE2;
    margin-bottom: 3rem;
    padding: 2rem;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.benefits-head h3 {
    padding: 2rem;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 25rem;
    max-height: 40vh;
    margin: 2rem 5rem;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.495);
    color: #327EE2;
}

.card img {
    height: 10rem;
}

.card h4,
.card p {
    margin: 1rem;
    padding: 5px;
}

.card-icon {
    background: #327EE2;
    border-radius: 25px 25px 0 0;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

/* Media Queries */

@media screen and (max-width: 930px) {

    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

    .cloud {
        height: 50rem;
        width: auto;
    }
}