/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li, button, label, input, p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
}

/* Button */

button {
    padding: 2rem 6rem;
    background-color: #2881eeba;
    background-origin: border-box;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #2881eee9;
    transform: scale(1.05);
}

/* Nav Section w/ Hero */

.main-head {
    background-color: #2881eebd;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    backdrop-filter: blur(2px);
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    flex: 2 1 40rem;
    font-family: 'Source Code Pro', monospace;
    display: flex;
}

nav img {
    height: 40px;
    width: auto;
    margin-left: 10px;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}



.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 96, 213, 0.666), transparent), url('./images/PlaneWindowImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h3 {
    padding: 5rem;
}

/* Benefits Section */

#locations {
    min-height: 100vh;
    background: url("./images/SkyImage.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90vw;
    margin: auto;
    color: white;
}

.locations-head h2 {
    padding: 1rem 0;
}

.locations-head h3 {
    padding: 4rem 0;
}

.cloud {
    z-index: 3;
    position: absolute;
    bottom: -300px;
    right: -650px;
    height: 900px;
    opacity: 0.6;
    animation: cloudAnimation 30s infinite alternate ease-in-out;
}

.plane {
    z-index: 2;
    position: absolute;
    height: 100px;
    right: 0;
    filter: blur(0.2px);
    animation: planeAnimation 5s infinite ease-in-out;
}

.plane-trails {
    z-index: 1;
    position: absolute;
    height: 300px;
    width: 1000px;
    top: 120px;
    right: -20px;
    transform: rotate(15deg);;
    filter: blur(1px);
    opacity: 0;
    animation: planeTrailsAnimation 5s infinite ease-in-out;
}

@keyframes cloudAnimation {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(30%);
    }
}

@keyframes planeAnimation {
    0% {
        transform: translate(100%, 100%);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-1000%, -800%);
    }
}

@keyframes planeTrailsAnimation {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    70% {
        opacity: 0.1;
        filter: blur(1px);
    }
    100% {
        opacity: 0;
    }
}

/* Media Queries */

@media screen and (max-width: 930px) {

    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }

    .cloud {
        height: 50rem;
        width: auto;
    }
}